<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wiki.mapper.ExamPaperMapper">
  <resultMap id="BaseResultMap" type="com.example.wiki.domain.ExamPaper">
    <id column="PAPBREID" jdbcType="BIGINT" property="papbreid" />
    <result column="EXAMID" jdbcType="BIGINT" property="examid" />
    <result column="COURSEID" jdbcType="BIGINT" property="courseid" />
    <result column="PUBLISHERID" jdbcType="BIGINT" property="publisherid" />
    <result column="PAPERCODE" jdbcType="VARCHAR" property="papercode" />
    <result column="DURATION" jdbcType="DECIMAL" property="duration" />
    <result column="TOTALSCORE" jdbcType="DECIMAL" property="totalscore" />
    <result column="SUBMITSTATB" jdbcType="DECIMAL" property="submitstatb" />
    <result column="URI" jdbcType="VARCHAR" property="uri" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PAPBREID, EXAMID, COURSEID, PUBLISHERID, PAPERCODE, DURATION, TOTALSCORE, SUBMITSTATB, 
    URI
  </sql>
  <select id="selectByExample" parameterType="com.example.wiki.domain.ExamPaperExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exampaper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exampaper
    where PAPBREID = #{papbreid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from exampaper
    where PAPBREID = #{papbreid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.wiki.domain.ExamPaperExample">
    delete from exampaper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.wiki.domain.ExamPaper">
    insert into exampaper (PAPBREID, EXAMID, COURSEID, 
      PUBLISHERID, PAPERCODE, DURATION, 
      TOTALSCORE, SUBMITSTATB, URI
      )
    values (#{papbreid,jdbcType=BIGINT}, #{examid,jdbcType=BIGINT}, #{courseid,jdbcType=BIGINT}, 
      #{publisherid,jdbcType=BIGINT}, #{papercode,jdbcType=VARCHAR}, #{duration,jdbcType=DECIMAL}, 
      #{totalscore,jdbcType=DECIMAL}, #{submitstatb,jdbcType=DECIMAL}, #{uri,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.wiki.domain.ExamPaper">
    insert into exampaper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="papbreid != null">
        PAPBREID,
      </if>
      <if test="examid != null">
        EXAMID,
      </if>
      <if test="courseid != null">
        COURSEID,
      </if>
      <if test="publisherid != null">
        PUBLISHERID,
      </if>
      <if test="papercode != null">
        PAPERCODE,
      </if>
      <if test="duration != null">
        DURATION,
      </if>
      <if test="totalscore != null">
        TOTALSCORE,
      </if>
      <if test="submitstatb != null">
        SUBMITSTATB,
      </if>
      <if test="uri != null">
        URI,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="papbreid != null">
        #{papbreid,jdbcType=BIGINT},
      </if>
      <if test="examid != null">
        #{examid,jdbcType=BIGINT},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=BIGINT},
      </if>
      <if test="publisherid != null">
        #{publisherid,jdbcType=BIGINT},
      </if>
      <if test="papercode != null">
        #{papercode,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=DECIMAL},
      </if>
      <if test="totalscore != null">
        #{totalscore,jdbcType=DECIMAL},
      </if>
      <if test="submitstatb != null">
        #{submitstatb,jdbcType=DECIMAL},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.wiki.domain.ExamPaperExample" resultType="java.lang.Long">
    select count(*) from exampaper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update exampaper
    <set>
      <if test="row.papbreid != null">
        PAPBREID = #{row.papbreid,jdbcType=BIGINT},
      </if>
      <if test="row.examid != null">
        EXAMID = #{row.examid,jdbcType=BIGINT},
      </if>
      <if test="row.courseid != null">
        COURSEID = #{row.courseid,jdbcType=BIGINT},
      </if>
      <if test="row.publisherid != null">
        PUBLISHERID = #{row.publisherid,jdbcType=BIGINT},
      </if>
      <if test="row.papercode != null">
        PAPERCODE = #{row.papercode,jdbcType=VARCHAR},
      </if>
      <if test="row.duration != null">
        DURATION = #{row.duration,jdbcType=DECIMAL},
      </if>
      <if test="row.totalscore != null">
        TOTALSCORE = #{row.totalscore,jdbcType=DECIMAL},
      </if>
      <if test="row.submitstatb != null">
        SUBMITSTATB = #{row.submitstatb,jdbcType=DECIMAL},
      </if>
      <if test="row.uri != null">
        URI = #{row.uri,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update exampaper
    set PAPBREID = #{row.papbreid,jdbcType=BIGINT},
      EXAMID = #{row.examid,jdbcType=BIGINT},
      COURSEID = #{row.courseid,jdbcType=BIGINT},
      PUBLISHERID = #{row.publisherid,jdbcType=BIGINT},
      PAPERCODE = #{row.papercode,jdbcType=VARCHAR},
      DURATION = #{row.duration,jdbcType=DECIMAL},
      TOTALSCORE = #{row.totalscore,jdbcType=DECIMAL},
      SUBMITSTATB = #{row.submitstatb,jdbcType=DECIMAL},
      URI = #{row.uri,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.wiki.domain.ExamPaper">
    update exampaper
    <set>
      <if test="examid != null">
        EXAMID = #{examid,jdbcType=BIGINT},
      </if>
      <if test="courseid != null">
        COURSEID = #{courseid,jdbcType=BIGINT},
      </if>
      <if test="publisherid != null">
        PUBLISHERID = #{publisherid,jdbcType=BIGINT},
      </if>
      <if test="papercode != null">
        PAPERCODE = #{papercode,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        DURATION = #{duration,jdbcType=DECIMAL},
      </if>
      <if test="totalscore != null">
        TOTALSCORE = #{totalscore,jdbcType=DECIMAL},
      </if>
      <if test="submitstatb != null">
        SUBMITSTATB = #{submitstatb,jdbcType=DECIMAL},
      </if>
      <if test="uri != null">
        URI = #{uri,jdbcType=VARCHAR},
      </if>
    </set>
    where PAPBREID = #{papbreid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.wiki.domain.ExamPaper">
    update exampaper
    set EXAMID = #{examid,jdbcType=BIGINT},
      COURSEID = #{courseid,jdbcType=BIGINT},
      PUBLISHERID = #{publisherid,jdbcType=BIGINT},
      PAPERCODE = #{papercode,jdbcType=VARCHAR},
      DURATION = #{duration,jdbcType=DECIMAL},
      TOTALSCORE = #{totalscore,jdbcType=DECIMAL},
      SUBMITSTATB = #{submitstatb,jdbcType=DECIMAL},
      URI = #{uri,jdbcType=VARCHAR}
    where PAPBREID = #{papbreid,jdbcType=BIGINT}
  </update>
</mapper>