<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wiki.mapper.ManagersMapper">
  <resultMap id="BaseResultMap" type="com.example.wiki.domain.Managers">
    <id column="MANAGBRID" jdbcType="BIGINT" property="managbrid" />
    <result column="MANAGERNAHE" jdbcType="VARCHAR" property="managernahe" />
    <result column="DUTY" jdbcType="VARCHAR" property="duty" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MANAGBRID, MANAGERNAHE, DUTY, REMARK
  </sql>
  <select id="selectByExample" parameterType="com.example.wiki.domain.ManagersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from managers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from managers
    where MANAGBRID = #{managbrid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from managers
    where MANAGBRID = #{managbrid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.wiki.domain.ManagersExample">
    delete from managers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.wiki.domain.Managers">
    insert into managers (MANAGBRID, MANAGERNAHE, DUTY, 
      REMARK)
    values (#{managbrid,jdbcType=BIGINT}, #{managernahe,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.wiki.domain.Managers">
    insert into managers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="managbrid != null">
        MANAGBRID,
      </if>
      <if test="managernahe != null">
        MANAGERNAHE,
      </if>
      <if test="duty != null">
        DUTY,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="managbrid != null">
        #{managbrid,jdbcType=BIGINT},
      </if>
      <if test="managernahe != null">
        #{managernahe,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.wiki.domain.ManagersExample" resultType="java.lang.Long">
    select count(*) from managers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update managers
    <set>
      <if test="row.managbrid != null">
        MANAGBRID = #{row.managbrid,jdbcType=BIGINT},
      </if>
      <if test="row.managernahe != null">
        MANAGERNAHE = #{row.managernahe,jdbcType=VARCHAR},
      </if>
      <if test="row.duty != null">
        DUTY = #{row.duty,jdbcType=VARCHAR},
      </if>
      <if test="row.remark != null">
        REMARK = #{row.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update managers
    set MANAGBRID = #{row.managbrid,jdbcType=BIGINT},
      MANAGERNAHE = #{row.managernahe,jdbcType=VARCHAR},
      DUTY = #{row.duty,jdbcType=VARCHAR},
      REMARK = #{row.remark,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.wiki.domain.Managers">
    update managers
    <set>
      <if test="managernahe != null">
        MANAGERNAHE = #{managernahe,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        DUTY = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where MANAGBRID = #{managbrid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.wiki.domain.Managers">
    update managers
    set MANAGERNAHE = #{managernahe,jdbcType=VARCHAR},
      DUTY = #{duty,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where MANAGBRID = #{managbrid,jdbcType=BIGINT}
  </update>
</mapper>